<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <strong>Thông tin đơn hàng</strong>
            </div>
            <div class="card-body">
                <p><i class="fa fa-map-marker"></i> Trạng thái: <span class="badge badge-danger"> {{orderService.orderRe.status | tempStatus: status}}</span>
                </p>
                <p><i class="fa fa-qrcode"></i> Mã đơn: {{orderService.orderRe.id}} <i class="fa fa-calendar"></i></p>
                <p><i class="fa fa-calendar"></i> Ngày tạo: {{orderService.orderRe.created_at | tempDate}}</p>
                <p><i class="fa fa-money"></i> Tổng tiền: {{orderService.orderRe.tong | tempPrice: 1 : 1}} <sup> đ</sup>
                </p>
                <p><i class="fa fa-edge"></i> Đặt tại website: <span
                        *ngIf="orderService.orderRe.cart && orderService.orderRe.cart[0]" class="badge badge-danger"> {{orderService.orderRe.cart[0].site}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <strong>Thông tin khách hàng</strong>
            </div>
            <div class="card-body">
                <p *ngIf="orderService.orderRe.user"><i class="fa fa-user"></i> {{orderService.orderRe.user.name}}</p>
                <p *ngIf="orderService.orderRe.user"><i class="fa fa-phone-square"></i>
                    {{orderService.orderRe.user.phone_number}}</p>
                <p *ngIf="orderService.orderRe.user"><i class="fa fa-envelope"></i> {{orderService.orderRe.user.email}}
                </p>
            </div>
        </div>
    </div>
</div>

<form novalidate #form="ngForm" class="form-horizontal">
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>Mã KS</th>
            <th>Tên shop</th>
            <th>Ghi chú</th>
            <th>Tổng link/Tg SL</th>
            <th>Ship khách</th>
            <th>Ship TT</th>
            <th>Trả shop</th>
            <th>Thanh toán</th>
            <th>MC</th>
            <th>Nhận lại</th>
            <th>Mã vận đơn</th>
            <th>Mã hợp đồng</th>
            <th>Trạng thái shop</th>
            <th>Ghi chú thanh lý</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody *ngIf="orderService.orderRe && orderService.orderRe.package && orderService.orderRe.package.length > 0">
        <ng-template ngFor let-item [ngForOf]="orderService.orderRe.package" let-i="index">
            <tr>
                <td>{{item.id}}</td>
                <td><p *ngIf="i===0">{{orderService.orderRe.shop.name}}</p></td>
                <td></td>
                <td><p *ngIf="i===0">{{orderService.orderRe.count_link}}/{{orderService.orderRe.count_product}}</p></td>
                <td>{{item.ship_khach}}</td>
                <td>{{item.ship_tt}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{item.package_code}}</td>
                <td>{{item.contract_code}}</td>
                <td></td>
                <td></td>
                <td>
                    <p style="margin: 0;"><a style="cursor: pointer;" (click)="editPackage(item, template);"
                                             href="javascript:void(0);">Sửa</a></p>
                    <p *ngIf="i!==0" style="margin: 0;"><a style="cursor: pointer;" (click)="deletePackage(item);"
                                                           href="javascript:void(0);">Hủy</a></p>
                </td>
            </tr>
        </ng-template>
        <tr>
            <td colspan="15" class="text-right"><a (click)="addPackage();" style="cursor: pointer;"
                                                   href="javascript:void(0);"><i
                    class="fa fa-plus-square"></i> Thêm mã vận đơn</a></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>Mã, link</th>
            <th>Hình ảnh</th>
            <th>Màu sắc</th>
            <th>Size/mẫu</th>
            <th>Khách đặt</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
            <th>Ghi chú của khách</th>
        </tr>
        </thead>
        <tbody *ngIf="orderService.orderRe && orderService.orderRe.cart && orderService.orderRe.cart.length > 0">
        <ng-template ngFor let-item [ngForOf]="orderService.orderRe.cart" let-i="index">
            <tr>
                <td>
                    <p><span class="badge badge-warning">{{item.id}}</span></p>
                    <p><a target="_blank" rel="noopener noreferrer" href="{{item.pro_link}}">Xem</a></p>
                </td>
                <td><img src="{{item.image}}"></td>
                <td><p *ngIf="item.colortxt" class="pull-left m-1">{{item.colortxt}}</p></td>
                <td><p *ngIf="item.sizetxt" class="pull-left m-1">{{item.sizetxt}}</p></td>
                <td>{{item.amount}}</td>
                <td>
                    <p *ngIf="orderService.orderRe.shop">{{item.price | tempPrice: orderService.orderRe.shop.rate :
                        1}}<sup>đ</sup></p>
                    <p><span>¥</span>{{item.price | tempPrice: 1 : 1}}</p>
                </td>
                <td>
                    <p>{{item.price | tempPrice: orderService.orderRe.shop.rate : item.amount}}<sup>đ</sup></p>
                    <p><span>¥</span>{{item.price | tempPrice: 1 : item.amount}}</p>
                </td>
                <td>{{item.note}}</td>
            </tr>
        </ng-template>
        </tbody>
    </table>
</form>
<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title">Sửa mã vận đơn</h5>
    </div>
    <div class="modal-body">
        <form novalidate #form="ngForm">
            <div class="form-group">
                <label for="package_code">Mã vận đơn</label>
                <input [(ngModel)]="package.package_code" #package_code="ngModel" class="form-control" id="package_code"
                       name="package_code"
                       placeholder="Nhập mã vận đơn"
                       type="text">
            </div>
            <div class="form-group">
                <label for="contract_code">Mã hợp đồng</label>
                <input [(ngModel)]="package.contract_code" #contract_code="ngModel" class="form-control"
                       id="contract_code"
                       name="contract_code"
                       placeholder="Nhập mã hợp đồng"
                       type="text">
            </div>
            <div class="form-group">
                <label for="ship_khach">Ship khách</label>
                <input [(ngModel)]="package.ship_khach" #ship_khach="ngModel" class="form-control"
                       id="ship_khach"
                       name="ship_khach"
                       placeholder="Nhập ship khách"
                       type="number">
            </div>
            <div class="form-group">
                <label for="ship_tt">Ship TT</label>
                <input [(ngModel)]="package.ship_tt" #ship_tt="ngModel" class="form-control"
                       id="ship_tt"
                       name="ship_tt"
                       placeholder="Nhập ship thực tế"
                       type="number">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
        <button type="button" class="btn btn-warning" (click)="decline()">Cancel</button>
    </div>
</ng-template>