<div class="card">
    <div class="card-header"><i class="cui-user icons"></i> <strong>{{authService.user.name}}</strong></div>
    <div class="card-body">
        <table class="table table-bordered table-striped table-sm table-data">
            <thead>
            <tr>
                <th>Ngày giao dịch</th>
                <th>Mã giao dịch</th>
                <th>Loại giao dịch</th>
                <th>Nội dung</th>
                <th class="text-right">Giá trị</th>
                <th class="text-right">Dư nợ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of transactions; let i = index">
                <td>{{item.created_at}}</td>
                <td>{{item.code}}</td>
                <td>
                    <span *ngIf="item.otype.value > 0" class="badge badge-success">{{item.otype.name}}</span>
                    <span *ngIf="item.otype.value < 0" class="badge badge-warning">{{item.otype.name}}</span>
                </td>
                <td>{{item.content}}</td>
                <td class="text-right">
                    <span *ngIf="item.otype.value > 0" class="badge badge-success float-left">+</span>
                    <span *ngIf="item.otype.value < 0" class="badge badge-warning float-left">-</span>{{item.value |
                    tempPrice : 1 : 1}} <sup>đ</sup>
                </td>
                <td *ngIf="i===0" class="text-right"><span class="badge badge-danger">{{item.debt | tempPrice : 1 : 1}} <sup>đ</sup></span>
                </td>
                <td *ngIf="i>0" class="text-right">{{item.debt | tempPrice : 1 : 1}} <sup>đ</sup></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="userService.tSearch.page"
                    [itemsPerPage]="userService.tSearch.limit"
                    (pageChanged)="pageChanged($event)"
                    class="pagination-sm pull-right" [maxSize]="6"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                    lastText="&raquo;"></pagination>
    </div>
</div>