<form novalidate #form="ngForm" class="form-horizontal">
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="name">
            Tên <code class="highlighter-rouge">*</code>
        </label>
        <div class="col-md-9">
            <input disabled [(ngModel)]="userService.user.name" #name="ngModel" type="text" id="name"
                   name="name"
                   required
                   class="form-control"
                   placeholder="Tên">
            <div [hidden]="name.valid || name.untouched">
                                <span *ngIf="name.errors && name.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Tên!
                                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="email">
            Email <code class="highlighter-rouge">*</code>
        </label>
        <div class="col-md-9">
            <input disabled [(ngModel)]="userService.user.email" #email="ngModel" type="text" id="email"
                   name="email"
                   required
                   class="form-control"
                   placeholder="Email">
            <div [hidden]="email.valid || email.untouched">
                                <span *ngIf="email.errors && email.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Email!
                                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="phone_number">
            Số điện thoại <code class="highlighter-rouge">*</code>
        </label>
        <div class="col-md-9">
            <input disabled [(ngModel)]="userService.user.phone_number" #phone_number="ngModel" type="text" id="phone_number"
                   name="phone_number"
                   required
                   class="form-control"
                   placeholder="Số điện thoại">
            <div [hidden]="phone_number.valid || phone_number.untouched">
                                <span *ngIf="phone_number.errors && phone_number.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Số điện thoại!
                                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="cost_percent">
            Chiết khấu phí dự kiến (%) <code class="highlighter-rouge">*</code>
        </label>
        <div class="col-md-9">
            <input [(ngModel)]="userService.user.cost_percent" #cost_percent="ngModel" type="text" id="cost_percent"
                   name="cost_percent"
                   required
                   class="form-control"
                   placeholder="Phí dự kiến (%)">
            <div [hidden]="cost_percent.valid || cost_percent.untouched">
                                <span *ngIf="cost_percent.errors && cost_percent.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Phí dự kiến!
                                </span>
            </div>
        </div>
    </div>
</form>