<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> <strong>Thông tin đơn hàng</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p><i class="fa fa-map-marker"></i> Trạng thái: <span
              class="badge badge-danger"> {{orderService.orderRe.status | tempStatus: status}}</span>
            </p>
            <p><i class="fa fa-qrcode"></i> Mã đơn: {{orderService.orderRe.id}} <i
              class="fa fa-calendar"></i></p>
            <p><i class="fa fa-calendar"></i> Ngày tạo: {{orderService.orderRe.created_at | tempDate}}</p>
            <p><i class="fa fa-money"></i> Tổng tiền: {{orderService.orderRe | tempTongTienHang : 1}} <sup> đ</sup>
            <p><i class="fa fa-money"></i> Đã thanh
              toán: {{orderService.orderRe.thanh_toan.toString() | tempPrice: 1 : 1 : true}} <sup> đ</sup>
            <p><i class="fa fa-money"></i> Còn thiếu: {{orderService.orderRe | tempTongTienHang : 2}} <sup> đ</sup>
          </div>
          <div class="col-md-6">
            <!--<p><i class="fa fa-money"></i> Tổng tiền: {{orderService.orderRe | tempTongTienHang : 1}} <sup>
                đ</sup>-->
            <p *ngIf="orderService.orderRe.cart && orderService.orderRe.cart[0]"><i class="fa fa-edge"></i>
              Đặt tại website: <span
                class="badge badge-danger"> {{orderService.orderRe.cart[0].site}}</span></p>
            <p *ngIf="orderService.orderRe.shop"><i class="fa fa fa-anchor"></i> Shop: <span
              class="badge badge-danger"> {{orderService.orderRe.shop.name}}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!nv" class="card bang_phi">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> <strong>Tổng phí</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Tiền hàng</strong></p>
            <p>(1) Tiền hàng <span
              class="pull-right"><strong>{{(orderService.orderRe.tien_hang - orderService.orderRe.phi_tam_tinh).toString() | tempPrice: 1 : 1 : false}}
              <sup> đ</sup></strong></span></p>
            <p>(2) Phí trả thêm (nếu có) <span
              class="pull-right"><strong>{{orderService.orderRe.phi_tam_tinh.toString() | tempPrice: 1 : 1 : false}}
              <sup> đ</sup></strong></span></p>
            <p>(3) Ship nội địa TQ <span class="pull-right"><strong>{{orderService.orderRe | tempTongTienHang : 3}}<sup> đ</sup></strong></span>
            </p>
            <p>(4) Phí mua hàng <span class="pull-right"><strong>0<sup> đ</sup></strong></span></p>
            <p>(5) Phí kiểm đếm <span class="pull-right"><strong>0<sup> đ</sup></strong></span></p>
            <p>(6) Tổng = 1 + 2 + 3 + 4 + 5 <span
              class="pull-right"><strong>{{orderService.orderRe | tempTongTienHang : 1}} <sup>
                            đ</sup></strong></span></p>
          </div>
          <div class="col-md-6">
            <p><strong>Tiền cân nặng</strong></p>
            <p>Số cân nặng <span
              class="pull-right"><strong>{{orderService.bang_phi.tong_can_nang}}</strong></span></p>
            <p>Cân nặng quy đổi <span
              class="pull-right"><strong>{{orderService.bang_phi.tong_can_nang_qd}}</strong></span>
            </p>
            <p>(7) Tiền cân nặng <span
              class="pull-right"><strong>{{orderService.bang_phi.tong_tien_can.toString() | tempPrice: 1 : 1 : false}}
              <sup> đ</sup></strong></span>
            </p>
            <p>(8) Đóng gỗ <span class="pull-right"><strong>0<sup> đ</sup></strong></span></p>
            <p>(9) Cước vận phát sinh (nếu có) <span
              class="pull-right"><strong>0<sup> đ</sup></strong></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="cui-comment-square icons"></i> <strong>Thông tin trao đổi</strong>
      </div>
      <div #scrollMe class="card-body comment-content">
        <div *ngFor="let item of comments" class="comment-item {{item.is_admin? 'admin-comment-item': ''}}"
             title="{{item.created_at}}">
          <b>{{item.user_name}}: </b>{{item.content}}
        </div>
      </div>
      <div class="card-footer">
        <div class="form-group">
          <div class="controls">
            <div class="input-group"><input [(ngModel)]="comment.content" #content="ngModel"
                                            class="form-control" id="content" name="content" size="16"
                                            type="text"><span class="input-group-append"><button
              (click)="addComment()"
              class="btn btn-secondary" type="button">Gửi đi</button></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="text-right"><span>Tỉ giá: {{orderService.orderRe.rate}}</span></p>
<form novalidate #form="ngForm" class="form-horizontal">
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered table-sm table-data">
        <thead>
        <tr>
          <th>Mã KS</th>
          <th>Tên shop</th>
          <th>Ghi chú</th>
          <th>Tổng link/Tg SL</th>
          <th>Ship khách</th>
          <th>Trả shop</th>
          <th>Mã vận đơn</th>
          <th>Mã hợp đồng</th>
          <th>Trạng thái shop</th>
        </tr>
        </thead>
        <tbody *ngIf="orderService.orderRe && orderService.orderRe.package && orderService.orderRe.package.length > 0">
        <ng-template ngFor let-item [ngForOf]="orderService.orderRe.package" let-i="index">
          <tr>
            <td>{{item.id}}</td>
            <td><p *ngIf="i===0">{{orderService.orderRe.shop.name}}</p></td>
            <td></td>
            <td><p *ngIf="i===0">
              {{orderService.orderRe.count_link}}/{{orderService.orderRe.count_product}}</p>
            </td>
            <td><p *ngIf="!nv">{{item.ship_khach}}</p></td>
            <td><p *ngIf="!nv && item.tra_shop"><span>¥</span>{{item.tra_shop | tempPrice: 1 : 1 : false}}</p></td>
            <td>{{item.package_code}}</td>
            <td>{{item.contract_code}}</td>
            <td>{{item.status | tempPkStatus : pkStatus}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="orderService.orderRe && orderService.orderRe.cart && orderService.orderRe.cart.length > 0" class="card">
    <div class="card-body">
      <table class="table table-bordered table-sm table-data">
        <thead>
        <tr>
          <th>Mã, link</th>
          <th>Hình ảnh</th>
          <th>Màu sắc</th>
          <th>Size/mẫu</th>
          <th>Khách đặt</th>
          <th>Đơn giá</th>
          <th>Thành tiền</th>
          <th>Ghi chú</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-item [ngForOf]="orderService.orderRe.cart" let-i="index">
          <tr class="{{item.amount? '' : 'yl-bg'}}">
            <td>
              <p><span class="badge badge-warning">{{item.id}}</span></p>
              <p><a target="_blank" rel="noopener noreferrer" href="{{item.pro_link}}">Xem</a></p>
            </td>
            <td><img src="{{item.image}}"></td>
            <td><p *ngIf="item.colortxt" class="pull-left m-1">{{item.colortxt}}</p></td>
            <td><p *ngIf="item.sizetxt" class="pull-left m-1">{{item.sizetxt}}</p></td>
            <td>{{item.amount}}</td>
            <td>
              <p *ngIf="!nv && orderService.orderRe">{{item.price | tempPrice:
                orderService.orderRe.rate :
                1}}<sup>đ</sup></p>
              <p *ngIf="!nv"><span>¥</span>{{item.price | tempPrice: 1 : 1: false}}</p>
            </td>
            <td>
              <p *ngIf="!nv">{{item.price | tempPrice: orderService.orderRe.rate : item.amount}}<sup>đ</sup></p>
              <p *ngIf="!nv"><span>¥</span>{{item.price | tempPrice: 1 : item.amount: false}}</p>
            </td>
            <td>{{item.note}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</form>

