<!-- Breadcrumb -->
<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

    </div>
  </li>
</ol>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <strong>Danh sách đơn hàng</strong>
        </div>
        <div class="card-body">
          <form novalidate (ngSubmit)="searchOrders()" #form="ngForm">
            <div class="form-group row">
              <div class="col-md-3">
                <input [(ngModel)]="orderService.search.code" type="text" id="key" name="key"
                       class="form-control"
                       placeholder="Tìm kiếm mã đơn hàng">
              </div>
              <div class="col-md-2">
                <input [(ngModel)]="orderService.search.package_code" type="text" id="package_code"
                       name="package_code"
                       class="form-control"
                       placeholder="Tìm kiếm mã vận đơn">
              </div>
              <div class="col-md-2">
                <button type="button" (click)="searchOrders()"
                        class="btn btn-primary">Tìm kiếm
                </button>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-form-label"><b>Tổng đơn chờ cọc: {{tong_coc.toString() | tempPrice: 1 : 1 : false}} <sup> đ</sup></b></label>
                </div>
              </div>
            </div>
          </form>
          <table class="table table-bordered table-data">
            <thead>
            <tr>
              <th width="20%">Đơn hàng</th>
              <th>Sản phẩm</th>
              <th width="18%">Tiền hàng</th>
              <th width="5%" class="text-right">Tác vụ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of orders">
              <td>
                <p *ngIf="item.shipping===1">
                  <span class="badge badge-warning"> Đơn ký gửi</span>
                </p>
                <p>
                  ID: {{item.id}} <span *ngIf="status"
                                        class="badge badge-danger">{{item.status | tempStatus: status}}</span>
                </p>
                <p>Ngày tạo: {{item.created_at | tempDate}}</p>
                <p>
                  <i class="fa fa fa-anchor"></i> Shop: <span class="badge badge-info"
                                                              [innerHTML]="item.shop.name"></span>
                </p>
              </td>
              <td>
                <p style="position: relative;">
                  <a *ngIf="(item.cart && (item.cart.length > 0))" target="_blank" href="{{item.cart[0].pro_link}}"><img referrerPolicy="no-referrer"
                    style="max-width: 50px;" src="{{item.cart[0].image}}"></a>
                  <span style="margin-left: 5px; position: absolute;"> Số lượng <br>{{item.count_product}}
                    /{{item.count_link}}</span>
                </p>
              </td>
              <td class="text-right">
                <p *ngIf="!nv"><span class="pull-left">Tiền hàng</span> <span
                  class="money">{{item | tempTongTienHang: 1}}</span>
                  <sup> đ</sup></p>
                <p *ngIf="!nv"><span class="pull-left">Thanh toán</span> <span *ngIf="item.thanh_toan"
                                                                               class="money">{{item.thanh_toan.toString() | tempPrice: 1 : 1 : false}}</span>
                  <sup> đ</sup></p>
                <p *ngIf="!nv"><span class="pull-left">Còn thiếu</span> <span
                  *ngIf="item.tien_hang && item.thanh_toan"
                  class="money">{{item | tempTongTienHang: 2}}</span>
                  <sup> đ</sup></p>
              </td>
              <td class="text-right">
                <button (click)="editOrder(item.id)" class="btn btn-sm btn-ghost-primary"
                        type="button">
                  Chi tiết
                </button>
                <button *ngIf="!nv && item.status===2" (click)="openModal(template,item)"
                        class="btn btn-sm btn-ghost-primary"
                        type="button">
                  Đặt cọc
                </button>
                <!--<button *ngIf="!nv && item.status < 3" (click)="openDeleteModal(delete_template,item)"
                        class="btn btn-sm btn-ghost-primary"
                        type="button">
                    Xóa
                </button>-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="orderService.search.page"
                      [itemsPerPage]="orderService.search.limit"
                      (pageChanged)="pageChanged($event)"
                      class="pagination-sm pull-right" [maxSize]="6"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                      lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div><!-- /.container-fluid -->
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Đặt cọc</h5>
  </div>
  <div class="modal-body">
    <form novalidate #form="ngForm">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="content">Tiền hàng </label>
            <p><strong>{{inputDatCoc.tien_hang.toString() | tempPrice: 1 : 1 : false}}</strong><sup>đ</sup>
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="content">Phí tạm tính </label>
            <p><strong>{{inputDatCoc.phi_tam_tinh.toString() | tempPrice: 1 : 1 : false}}</strong><sup>đ</sup>
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="content">Ship TQ </label>
            <p><strong>{{inputDatCoc.ship_khach.toString() | tempPrice: 1 : 1 : false}}</strong><span>¥</span>
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="content">Dư nợ hiện tại</label>
            <p><strong>{{auth.user.debt.toString() | tempPrice: 1 : 1 : false}}</strong><sup>đ</sup></p>
          </div>
        </div>
      </div>

      <alert type="danger" *ngIf="auth.user.debt < inputDatCoc.dc_value">
        <p><strong>Cảnh báo!</strong> Dư nợ không đủ để thực hiện đặt cọc!</p>
      </alert>

      <div class="input-group">
        <select [(ngModel)]="inputDatCoc.dc_percent_value" #dc_percent_value="ngModel"
                (change)="calTienCoc()"
                id="dc_percent_value" name="dc_percent_value" class="input-group-prepend form-control">
          <option *ngFor="let deposit of arrDeposit" [value]="deposit">
            {{deposit}}
          </option>
        </select>
        <input class="form-control" required id="dc_value" name="dc_value" disabled
               value="% tiền hàng"
               placeholder="Tiền cọc" type="text">
      </div>
      <p></p>
      <div class="form-group">
        <label for="content">Nội dung</label>
        <textarea [(ngModel)]="inputDatCoc.content" #content="ngModel" id="content" name="content" rows="3"
                  disabled
                  class="form-control"
                  placeholder="Nội dung ..."></textarea>
      </div>
      <p></p>
      <alert type="danger" *ngIf="errorMessage.length > 0">
        <p *ngFor="let error of errorMessage"><strong>Lỗi!</strong> {{error}}</p>
      </alert>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmDatCoc()">OK</button>
    <button type="button" class="btn btn-warning" (click)="declineDatCoc()">Cancel</button>
  </div>
</ng-template>
