<!-- Breadcrumb -->
<ol class="breadcrumb">
    <app-breadcrumb></app-breadcrumb>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

        </div>
    </li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> <strong>Danh sách đơn hàng</strong>
                </div>
                <div class="card-body">
                    <form novalidate (ngSubmit)="searchOrders()" #form="ngForm">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input [(ngModel)]="orderService.search.key" type="text" id="key" name="key"
                                       class="form-control"
                                       placeholder="Tìm kiếm...">
                            </div>
                            <div class="col-md-3">
                                <select [(ngModel)]="orderService.search.status" class="form-control" name="status"
                                        id="status">
                                    <option value="">Tất cả</option>
                                    <option *ngFor="let item of status" [value]="item.id">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="searchOrders()"
                                        class="btn btn-primary">Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th width="20%">Đơn hàng</th>
                            <th>Sản phẩm</th>
                            <th>Tiền hàng</th>
                            <th width="5%" class="text-right">Tác vụ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of orders">
                            <td>
                                <p>ID: {{item.id}} <span *ngIf="status" class="badge badge-danger">{{item.status | tempStatus: status}}</span>
                                </p>
                                <p>Ngày tạo: {{item.created_at | tempDate}}</p>
                            </td>
                            <td>
                                <p *ngFor="let cart of item.cart">
                                    <img style="max-width: 50px;" src="{{cart.image}}">
                                    <span *ngIf="cart.colortxt">{{cart.colortxt}}</span>
                                    <span *ngIf="cart.sizetxt">{{cart.sizetxt}}</span>
                                    <span> - Số lượng: {{cart.amount}}</span>
                                    <span> - Đơn giá: {{cart.price | tempPrice: item.shop.rate : 1}}<sup>đ</sup></span>
                                    <span> - Thành tiền: {{cart.price | tempPrice: item.shop.rate : cart.amount}}<sup>đ</sup></span>
                                </p>
                            </td>
                            <td class="text-right">
                                <p><span class="pull-left">Tiền hàng</span> <span class="money">{{item.tien_hang | tempPrice: 1 : 1}}</span>
                                    <sup> đ</sup></p>
                                <p><span class="pull-left">Thanh toán</span> <span *ngIf="item.thanh_toan"
                                                                                   class="money">{{item.thanh_toan | tempPrice: 1 : 1}}</span>
                                    <sup> đ</sup></p>
                                <p><span class="pull-left">Còn thiếu</span> <span *ngIf="item.con_thieu" class="money">{{item.con_thieu | tempPrice: 1 : 1}}</span>
                                    <sup> đ</sup></p>
                            </td>
                            <td class="text-right">
                                <button (click)="editOrder(item.id)" class="btn btn-sm btn-ghost-primary"
                                        type="button">
                                    Chi tiết
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="orderService.search.page"
                                (pageChanged)="pageChanged($event)"
                                class="pagination-sm pull-right" [maxSize]="6"
                                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                lastText="&raquo;"></pagination>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div><!-- /.container-fluid -->