<div class="card">
    <div class="card-header"><i class="cui-user icons"></i> <strong>{{userService.user.name}}</strong>
        <div class="card-header-actions">
            <button class="btn btn-block btn-outline-primary btn-sm" type="button">Thêm</button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                <th>Ngày giao dịch</th>
                <th>Mã giao dịch</th>
                <th>Loại giao dịch</th>
                <th>Nội dung</th>
                <th class="text-right">Giá trị</th>
                <th class="text-right">Dư nợ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="button">Toggle collapse</button>
    </div>
</div>