<div class="card">
    <div class="card-header"><i class="cui-user icons"></i> <strong>{{userService.user.name}}</strong>
        <div class="card-header-actions">
            <button (click)="addTransaction(templateAddTransaction)" class="btn btn-block btn-outline-primary btn-sm"
                    type="button">Thêm
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                <th>Ngày giao dịch</th>
                <th>Mã giao dịch</th>
                <th>Loại giao dịch</th>
                <th>Nội dung</th>
                <th class="text-right">Giá trị</th>
                <th class="text-right">Dư nợ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            <tr>
                <td>2012/01/01</td>
                <td>Vishnu Serghei</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>Member</td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
                <td class="text-right"><span class="badge badge-success">200.000</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="button">Toggle collapse</button>
    </div>
</div>
<ng-template #templateAddTransaction>
    <div class="modal-header">
        <h5 class="modal-title">Thêm giao dịch</h5>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="code">Mã giao dịch <code class="highlighter-rouge">*</code></label>
            <input class="form-control" id="code"
                   placeholder="Nhập mã giao dịch"
                   type="text">
        </div>
        <div class="form-group">
            <label for="type">Loại giao dịch <code class="highlighter-rouge">*</code></label>
            <select
                    id="type"
                    name="type"
                    class="form-control">
                <option value="">Chọn loại giao dịch</option>
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
            </select>
        </div>
        <div class="form-group">
            <label for="content">Nội dung</label>
            <textarea class="form-control" id="content" name="content"
                      placeholder="..." rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="value">Giá trị <code class="highlighter-rouge">*</code></label>
            <input class="form-control" id="value"
                   placeholder="Giá trị giao dịch"
                   type="number">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
        <button type="button" class="btn btn-warning" (click)="decline()">Cancel</button>
    </div>
</ng-template>