<div class="card">
    <div class="card-header"><i class="cui-user icons"></i> <strong>Danh mục tham số hệ thống</strong></div>
    <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>key</th>
                <th>value</th>
                <th class="text-right">Tác vụ</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of settings">
                <td>{{item.title}}</td>
                <td>{{item.key}}</td>
                <td>{{item.value}}</td>
                <td>
                    <button (click)="editSetting(item.id)" class="btn btn-sm btn-ghost-primary"
                            type="button">
                        Sửa
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>