<!-- Breadcrumb -->
<ol class="breadcrumb">
    <app-breadcrumb></app-breadcrumb>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="javascript:void(0)" (click)="backlist()"
               target="_blank"><i class="fa fa-arrow-left"></i> &nbsp;Quay lại</a>
        </div>
    </li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Phiếu xuất kho</strong>
                </div>
                <div *ngIf="bill" class="card-body">
                    <h3 class="text-center">PHIẾU XUẤT KHO</h3>
                    <p class="text-center"><i>(Mã phiếu <b>{{bill.id}}</b>)</i> Hà Nội</p>
                    <div class="row">
                        <div class="col-sm-5">
                            <h4 class="">Thông tin khách</h4>
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <td>Khách</td>
                                    <td>{{bill.user.name}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{bill.user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Điện thoại</td>
                                    <td>{{bill.user.phone_number}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-7">
                            <h4>Tiền cần thanh toán (đơn vị đ)</h4>
                            <table class="table">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>a. Tiền (2+3+4+5)</td>
                                    <td class="text-right">
                                        {{(bill.tien_can + bill.tien_thanh_ly) | tempPrice: 1 : 1 : false}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>b. Số dư hiện tại</td>
                                    <td class="text-right">{{bill.user.debt | tempPrice: 1 : 1 : false}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="">Thông tin phiếu xuất (đơn vị đ)</h4>
                            <table class="table table-bordered">
                                <thead>
                                <tr class="">
                                    <th>1. Cân nặng(kg)</th>
                                    <th>2. Tiền cân</th>
                                    <th>3. Đóng gỗ</th>
                                    <th>4. Vận chuyển phát sinh</th>
                                    <th>5. Thanh lý</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">{{bill.tong_can}}</td>
                                    <td class="text-right  bold">{{bill.tien_can | tempPrice: 1 : 1 : false}}</td>
                                    <td class="bold text-right">0</td>
                                    <td class="bold text-right">0</td>
                                    <td class="text-right bold "> {{bill.tien_thanh_ly | tempPrice: 1 : 1 : false}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <h4 class="g-no-print">Thông tin gói hàng</h4>
                        <p class="text-right"><i>Công thức quy đổi: (kg) = Dài (cm) x rộng (cm) x cao (cm)/ 6000</i></p>
                        <table class="table table-bordered  lading_table" style="cursor: pointer;">
                            <thead>
                            <tr>
                                <th>##</th>
                                <th class="text-center">Mã kiện</th>
                                <th class="text-center">Đơn hàng</th>
                                <th class="text-center">Thanh lý(đ)</th>
                                <th class="text-center">Dịch vụ</th>
                                <th class="text-center">Cân nặng</th>
                                <th class="text-center">Quy đổi(kg)</th>
                                <th class="text-center">Đơn giá(đ)</th>
                                <th class="text-center">Thành tiền(đ)</th>
                                <th class="text-center">Đóng gỗ(đ)</th>
                                <th class="text-center">Cước vận chuyển <br> phát sinh</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-template ngFor let-item [ngForOf]="bill.package" let-i="index">
                                <tr>
                                    <td class="text-center">{{i + 1}}</td>
                                    <td>
                                        <span>
                                            <a target="_blank"
                                               href="./package/{{item.package_code}}">
                                                {{item.package_code}}
                                            </a>
                                        </span>
                                    </td>
                                    <td>
                                        <a href="./order/list/detail/{{item.order.id}}"
                                           target="_blank">{{item.order.id}}</a>
                                    </td>
                                    <td class="text-right">0</td>
                                    <td><br></td>
                                    <td class="text-right">{{item.weight}}</td>
                                    <td class="text-right">{{item.weight_qd}}</td>
                                    <td class="text-right">19.000</td>
                                    <td class="text-right">19.000
                                        <br>
                                        <span rel="tooltip" title=""
                                              data-original-title="Thành tiền sau chiết khấu">19.000<span
                                                class="g-no-print">(?)</span></span>
                                    </td>
                                    <td class="text-right">0</td>
                                    <td class="text-right ">0</td>
                                </tr>
                            </ng-template>
                            <tr>
                                <td colspan="3"></td>
                                <td class="text-right ">0</td>
                                <td colspan="4"></td>
                                <td class="text-right ">41.800</td>
                                <td class="text-right ">0</td>
                                <td class="text-right ">0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="detail-link">
                        <h4>Chi tiết link</h4>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Mã đơn</th>
                                <th>Mã link</th>
                                <th>Mô tả màu sắc</th>
                                <th>Kích thước</th>
                                <th>Ghi chú</th>
                                <th>Giá</th>
                                <th>SL đặt</th>
                                <th>Còn lại</th>
                                <th>Xuất kho</th>
                                <th>Ghi chú kho</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="bg-success">
                                <td><a href="https://timhangquangchau.com/thqc/rel/49198/detail"
                                       target="_blank">49198</a></td>
                                <td>
                                    <a href="https://item.taobao.com/item.htm?spm=a230r.1.999.31.7663523cPKZ6sZ&amp;id=520408768312&amp;ns=1#detail"
                                       target="_blank"> 154554</a></td>
                                <td>红色</td>
                                <td>35</td>
                                <td></td>
                                <td class="text-right">108.00</td>
                                <td class="text-right">1</td>
                                <td class="text-right">0</td>
                                <td class="text-right">
                                    <span class="text-right view-field warehouse_quantity">1</span>
                                </td>

                                <td>
                                    <span class="text-right view-field lack_note"></span>
                                </td>
                            </tr>
                            <tr data-url="https://timhangquangchau.com/thqc/orderDetails/sua-link-154557"
                                class="bg-success">
                                <td><a href="https://timhangquangchau.com/thqc/rel/49201/detail"
                                       target="_blank">49201</a></td>
                                <td>
                                    <a href="https://item.taobao.com/item.htm?spm=a230r.1.999.1.4ab5523cmqGf3K&amp;id=587967901731&amp;ns=1#detail"
                                       target="_blank"> 154557</a></td>
                                <td>香槟色</td>
                                <td>35</td>
                                <td></td>
                                <td class="text-right">138.00</td>
                                <td class="text-right">1</td>
                                <td class="text-right">0</td>
                                <td class="text-right">
                                    <span class="text-right view-field warehouse_quantity">1</span>
                                </td>

                                <td>
                                    <span class="text-right view-field lack_note"></span>
                                </td>
                            </tr>
                            <tr data-url="https://timhangquangchau.com/thqc/orderDetails/sua-link-160536"
                                class="bg-success">
                                <td><a href="https://timhangquangchau.com/thqc/rel/51180/detail"
                                       target="_blank">51180</a></td>
                                <td>
                                    <a href="https://item.taobao.com/item.htm?spm=a230r.1.999.16.2dbc523cjiijIw&amp;id=580919799124&amp;ns=1#detail"
                                       target="_blank"> 160536</a></td>
                                <td>白色樱桃</td>
                                <td>0-2岁/头围44-50cm</td>
                                <td></td>
                                <td class="text-right">28.80</td>
                                <td class="text-right">1</td>
                                <td class="text-right">0</td>
                                <td class="text-right">
                                    <span class="text-right view-field warehouse_quantity">1</span>
                                </td>

                                <td>
                                    <span class="text-right view-field lack_note"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="text-right">Ngày <b>{{date}}</b></p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-left">Khách hàng</th>
                            <th class="text-right">Nhân viên xuất kho</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="height: 50px;" colspan="4" tabindex="1"></td>
                        </tr>
                        <tr>
                            <td class="text-left">{{bill.user.name}}</td>
                            <td class="text-right">{{bill.employee.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div>